<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico">
	<title>인정식탁</title>

	<link rel="stylesheet" href="./assets/css/reset.css" />
	<link rel="stylesheet" href="./assets/css/common.css" />
	<link rel="stylesheet" href="./assets/css/ai.css" />

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
	<script src="./assets/js/layout.js"></script>
</head>
<body>
	<div id="wrap">

		<div id="page__ai-chat">
			<div class="ai__chat-inner">
				<div class="ai__chat-notice">
					<p>AI 가 연결되었습니다.</p>
				</div>

			</div><!-- .ai__chat-inner -->
		</div><!-- #page__ai-chat -->

	</div><!-- #wrap -->
	<script>

		let param = new URLSearchParams(window.location.search);
		let pageType = param.get('type');		// my, today
		

		$(()=>{

			if( pageType == "my" ){		printChat(500, step_gender);	// 나만의 식탁
			} else {					printChat(500, step_food);		// 오늘의 식탁
			}

			$(document).on("click", ".chat__item-btn button", function(){

				// reset 버튼일 때 return
				if( $(this).hasClass("btn__reset") ){ return }

				$(document).find(".btn__reset").removeClass("active");

				let active = $(this).parents(".speaker-customer").find(".active").length;	// active length
				let chkNum = $(this).parents(".speaker-customer").data("select");			// check length

				// console.log(active, chkNum)
				
				if( $(this).hasClass("active") ){
					$(this).removeClass("active");
				} else {
					if( active < chkNum ){
						$(this).addClass("active");
					}
				}

				let active2 = $(this).parents(".speaker-customer").find(".active").length;	// active length

				// next step
				if( active2 >= chkNum ){
					if( !$(this).parents(".speaker-customer").hasClass("select-multi") ){
						$(this).parents(".speaker-customer").find("button").prop("disabled", true);
					}
					// $(document).find(".btn__result").prop("disabled", false);
					eval($(this).parents(".speaker-customer").data("fuc"));	// 함수 실행
				}

				// 입력완료 버튼
				if( active2 >= 1 ){
					$(document).find(".btn__result").prop("disabled", false);
				} else {
					$(document).find(".btn__result").prop("disabled", true);
				}
			})

			// 질환없음 클릭
			$(document).on("click", ".btn__reset", function(){

				if( $(this).hasClass("active") ){
					console.log('true')
					$(this).removeClass("active");
					$(document).find(".btn__result").prop("disabled", true);
				} else {
					// console.log('else');
					$(this).parents(".speaker-customer").find("button").removeClass("active");
					$(this).parents(".speaker-customer").find("button").prop("disabled", false);
					$(this).addClass("active");
					$(document).find(".btn__result").prop("disabled", false);
				}
			})

			// 다시하기 클릭
			$(document).on("click", ".btn__clear", function(){
				let status = confirm("처음부터 다시 시작하시겠습니까?")
				if( !status ){ return }
				window.location.href = './ai.html';
			})

			
		});
		
		
		const chating = `<div class="chat__ing"><div class="chat__ing-group"><span></span><span></span><span></span></div></div>`;

		const step_gender = {
			ask : ['너무 반가워요!', '전 남자예요! 당신은요?'],
			answer : [
				{ title:"여성", value:"여성", data : "여성", class : "", function:"printChat(1000,step_age,1)" },		 // printChat() 3번째 option = 1 일때 step_age.ask 노출
				{ title:"남성", value:"남성", data : "남성", class : "", function:"printChat(1000,step_age,2)" }		 // printChat() 3번째 option = 2 일때 step_age.ask2 노출
			],
			class : 'step_gender',
			selection : '1',
			// function : 'printChat(1000, step_age, 1)',
			function : '',
			next : 'step_age',
		}

		const step_age = {
			ask : ['여성 분이시군요!', '실례지만 나이대는 어떻게 되세요?'],				// printChat() 3번째 option = 1 일때 노출
			ask2 : ['저랑 같은 남성 이군요!', '실례지만 나이대는 어떻게 되세요?'],		 // printChat() 3번째 option = 2 일때 노출
			answer : [
				{ title:"10대", value:"10대", data : "10대", class : "" },
				{ title:"20대", value:"20대", data : "20대", class : "" },
				{ title:"30대", value:"30대", data : "30대", class : "" },
				{ title:"40대", value:"40대", data : "40대", class : "" },
				{ title:"50대", value:"50대", data : "50대", class : "" },
				{ title:"60대", value:"60대", data : "60대", class : "" },
				{ title:"60대 이상", value:"10대", data : "70대", class : "" },
			],
			class : 'step_age',
			selection : '1',
			function : 'printChat(1000, step_tall)',
			next : 'step_tall',
		}

		const step_tall = {
			ask : ['고객님의 키를 알 수 있을까요?'],
			answer : [
				{ title:"130cm 이하", value:"130cm 이하", data : "130cm 이하", class : "" },
				{ title:"130~140cm", value:"130~140cm", data : "130~140cm", class : "" },
				{ title:"140~150cm", value:"140~150cm", data : "140~150cm", class : "" },
				{ title:"150~160cm", value:"150~160cm", data : "150~160cm", class : "" },
				{ title:"160~170cm", value:"160~170cm", data : "160~170cm", class : "" },
				{ title:"170~180cm", value:"170~180cm", data : "170~180cm", class : "" },
				{ title:"180~190cm", value:"180~190cm", data : "180~190cm", class : "" },
				{ title:"190cm 이상", value:"190cm 이상", data : "190cm 이상", class : "" },
			],
			class : 'step_tall',
			selection : '1',
			function : 'printChat(1000, step_weight)',
			next : 'step_weight',
		}

		const step_weight = {
			ask : ['몸무게도 알려주세요!'],
			answer : [
				{ title:"40kg 이하", value:"40kg 이하", data : "40kg 이하", class : "" },
				{ title:"40~50kg", value:"40~50kg", data : "40~50kg", class : "" },
				{ title:"50~60kg", value:"50~60kg", data : "50~60kg", class : "" },
				{ title:"60~70kg", value:"60~70kg", data : "60~70kg", class : "" },
				{ title:"70~80kg", value:"70~80kg", data : "70~80kg", class : "" },
				{ title:"80~90kg", value:"80~90kg", data : "80~90kg", class : "" },
				{ title:"90~100kg", value:"90~100kg", data : "90~100kg", class : "" },
				{ title:"100kg 이상", value:"100kg 이상", data : "100kg 이상", class : "" },
			],
			class : 'step_weight',
			selection : '1',
			function : 'weightResult()',
			next : 'calories',
		}

		let step_food = {
			ask : ['오늘은 어떤 음식이 땡기시나요?'],
			answer : [
				{ title:"바닷소리가 들리는 지중해 식단", value:"지중해 식단", data : "지중해 식단", class : "wfull" },
				{ title:"고급 와인과 함께~ 이태리 식단", value:"이태리 식단", data : "이태리 식단", class : "wfull" },
				{ title:"엘레강스 한 동유럽 풍 식단", value:"동유럽 식단", data : "동유럽 식단", class : "wfull" },
				{ title:"짜짜라!! 호이호이! 중국 식단", value:"중국 식단", data : "중국 식단", class : "wfull" },
				{ title:"오이시이~ 깔끔한 일본 식단", value:"일본 식단", data : "일본 식단", class : "wfull" },
				{ title:"역시 난 한국인! 한국 식단", value:"한국 식단", data : "한국 식단", class : "wfull" },
			],
			class : 'step_food',
			selection : '1',
			function : 'printChat(1000, step_favorit)',
			next : 'step_favorit',
		}

		const step_favorit = {
			ask : ['건강한 식단을 원하세요?', '고객님이 선호하는 식단을 선택해주세요!'],
			answer : [
				{ title:"체중을 감량하고 싶어요!", value:"체중감량", data : "체중감량", class : "wfull" },
				{ title:"인스턴트 말고 건강한 음식이 좋아요!", value:"건강식", data : "건강식", class : "wfull" },
				{ title:"체력보강! 든든한 식단이 좋아요!", value:"체력보강", data : "체력보강", class : "wfull" },
				{ title:"부모님이 해주신 집밥이 먹고 싶어요!", value:"집밥", data : "집밥", class : "wfull" },
			],
			class : 'step_favorit',
			selection : '1',
			function : 'printChat(1000, step_health)',
			next : 'step_health',
		}

		const step_health = {
			ask : ['혹시 어디 불편하신가요?', '현재 고객님 건강에 문제되는 질환 3가지만 선택해주세요!'],
			answer : [
				{ title:"당뇨", value:"당뇨", data : "당뇨", class : "" },
				{ title:"심혈관", value:"심혈관", data : "심혈관", class : "" },
				{ title:"간질환", value:"간질환", data : "간질환", class : "" },
				{ title:"암 예방", value:"암 예방", data : "암 예방", class : "" },
				{ title:"골다공증", value:"골다공증", data : "골다공증", class : "" },
				{ title:"빈혈", value:"빈혈", data : "빈혈", class : "" },
				{ title:"변비", value:"변비", data : "변비", class : "" },
				{ title:"내졸중", value:"내졸중", data : "내졸중", class : "" },
				{ title:"없음", value:"질환 없음", data : "질환 없음", class : "btn__reset" },
			],
			class : 'step_health select-multi',
			selection : '3',
			function : '',
			next : 'end',
		}

		const printChat = function(time, data, option){
			$(document).find(".ai__chat-inner").append(chating);
			
			scrollTop()

			// option1: 여성질문, option2: 남성질문
			if (option == 2){ data.ask = data.ask2 }

			// ask HTML
			let askHTML = `<div class="chat__group speaker-injung">`;
			data.ask.forEach((item, index)=>{ askHTML += `<div class="chat__item"><div class="chat__item-bubble">${item}</div></div>` })
			askHTML += `</div>`;

			// asnwer HTML
			let answerHTML = `
				<div class="chat__group speaker-customer ${data.class}" data-select="${data.selection}" data-fuc="${data.function}">
					<div class="chat__item">
						<div class="chat__item-btn">
			`;
			data.answer.forEach((item, index)=>{
				let func = item.function ?? "";
				answerHTML += `<button type="button" class="${item.class}" value="${item.value}" data="${item.data}" onclick=${func}>${item.title}</button>`;
			})
			answerHTML += `</div></div></div>`;

			// end button HTML
			if( data.next == "end" ){
				answerHTML += `
					<div class="ai__chat-finish">
						<button type="reset" class="btn__clear">다시하기</button>
						<button type="button" onclick="result()" class="btn__result" disabled>입력완료</button>
					</div>
				`;
			}

			setTimeout(() => {
				$(document).find(".chat__ing").remove();
				$(document).find(".ai__chat-inner").append(askHTML);
				$(document).find(".ai__chat-inner").append(answerHTML);
				scrollTop()
			}, time);
		}


		// calorie
		const getCalorie = function(){
			let gender = $(document).find(".step_gender .active").val();	// '여성', '남성'
			let age = Number($(document).find(".step_age .active").val().replace(/[^0-9]/gi, ""));			// '30대'
			let tall = Number($(document).find(".step_tall .active").val().split("~")[0].split("cm")[0]);		// '150~160cm'
			let weight = Number($(document).find(".step_weight .active").val().split("~")[0].split("kg")[0]);	// '80~90kg'

			let calorie = 0;
			if(gender == "남자"){		calorie = 66.47 + (1.75 * weight) + (5 * tall) - (6.76 * age)
			} else {				   calorie = 655.1 + (9.56 * weight) + (1.85 * tall) - (4.68 * age)
			}
			return calorie.toFixed(0);
		}


		// 칼로리 알려주고 다음 질문 go
		const weightResult = function(){
			$(document).find(".ai__chat-inner").append(chating);
			scrollTop()

			let calorie = getCalorie();
			let text = `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">건강 관리가 필요해보여요!!</div>
					</div>
					<div class="chat__item">
						<div class="chat__item-bubble chat__item-calorie">고객님에게 가장 적합한 하루 열량은 <span class="tred">${calorie}</span>칼로리 입니다!</div>
					</div>
				</div>
			`;

			setTimeout(() => {
				$(document).find(".chat__ing").remove();
				$(document).find(".ai__chat-inner").append(text);
				scrollTop()
			}, 1000);

			setTimeout(() => { printChat(1000, step_food) }, 1500);
		}
		

		const result = function(){
			console.log('result');

			let activeBtn = Array.from($(document).find(".ai__chat-inner button.active"));
			let result_data = [];
			activeBtn.forEach((item, index)=>{	result_data.push( $(item).val() )	})

			if( pageType == "my" ){		localStorage.setItem("my_data", JSON.stringify(result_data));			// 나만의 식탁
			} else {					localStorage.setItem("today_data", JSON.stringify(result_data));		// 오늘의 식탁
			}
			
			window.location.href = "ai-result.html";
		}


		const scrollTop = function(){
			$(".ai__chat-inner").scrollTop(5000000000);
		}
	</script>
</body>
</html>