:root {
    --vh: 100%;
}

html, body{width:100%; min-height: var(--vh);}
#wrap{position:relative; width:100%; min-height:var(--vh); overflow:hidden; padding:4.375rem 0 4.156rem; box-sizing:border-box;}

/** header *********************************************************************/
#header{position:fixed; left:0; top:0; width:100%; display:flex; align-items:center; justify-content: space-between; height:4.375rem; background:#FC6251; padding:0 1rem; box-sizing:border-box; z-index:99;}

.header__logo img{width:6.25rem;}

.header__nav{flex:0 0 2.5rem; width:2.5rem;}
.header__nav a{display: block; text-indent:-9999px; font-size: 0; padding-bottom:100%; background:url(../img/common/nav.svg) 50% 50% no-repeat; background-size:60% auto;}

.header__cart{flex:0 0 2.5rem; width:2.5em;}
.header__cart a{display: block; text-indent:-9999px; font-size: 0; padding-bottom:100%; background:url(../img/common/cart.svg) 50% 50% no-repeat; background-size:75% auto;}


/** footer ********************************************************************/
#footer{border-top:1px solid #c5c5c5; background:#f7f7f7; padding:1.25rem 1rem;}

.footer__nav{display:flex; align-items:center; gap:.25rem 1rem; flex-wrap: wrap;}
.footer__nav li a{font-size:0.8125rem; color:#888;}
.footer__nav li:nth-child(3) a{color:#444;}

.footer__copy{margin:1rem 0 0; line-height:1.4; flex-wrap: wrap;}
.footer__copy p{display:flex; gap:.1rem .5rem; flex-wrap: wrap;}
.footer__copy span{display:flex; align-items:center; gap:.1rem .5rem; flex-wrap: wrap; font-size:0.8125rem; color:#888;}
.footer__copy span a{color:#444;}
.footer__copy span + span::before{content:''; display:inline-block; width: 1px; height:12px; background:#00000018;}

.footer__social{display:flex; align-items:center; gap: 0.75rem; margin:1rem 0 0;}
.footer__social li a{display: block; width:1.65rem; height: 1.65rem; background-size:95% auto; font-size:0; text-indent:-9999px;}
.social__instagram{background:url(../img/common/social-instagram.png) 50% 50% no-repeat;}
.social__facebook{background:url(../img/common/social-facebook.png) 50% 50% no-repeat;}
.social__blog{background:url(../img/common/social-blog.png) 50% 50% no-repeat;}
.social__post{background:url(../img/common/social-post.png) 50% 50% no-repeat;}
.social__youtube{background:url(../img/common/social-youtube.png) 50% 50% no-repeat;}


/** nav ***********************************************************************/
#nav{position:relative; width:100%; height:3rem; overflow-x:scroll; overflow-y: hidden;}
.nav__group{position:absolute; left:0; top:0; width:auto; display:flex; align-items:center; gap:2rem; padding:0 2rem; box-sizing:border-box;}
.nav__item{position:relative;}
.nav__item a{display:block; font-size:1.125rem; line-height:3rem; white-space: nowrap; color:#666;}
.nav__item::before{content:''; display:block; position:absolute; left:0; bottom:-3px; width:100%; height:3px; background:#FC6251; transition:all .3s;}
.nav__item.active::before{bottom:0;}
.nav__item.active a{color:#FC6251; font-weight:500;}

#nav::-webkit-scrollbar{height:3px; display: none;}
#nav::-webkit-scrollbar-thumb{width:30%; background:#ffffff00; border-radius: 10px; display: none;}
#nav::-webkit-scrollbar-track {background:#ffffff00; display: none;}


/** gnb ************************************************************************/
#gnb{position:fixed; left:0; bottom:0; width:100%; background:#fff; box-sizing:border-box; box-shadow:0 0 2px #00000050; z-index:109;}
#gnb ul{display:flex; align-items:center; justify-content: space-around; height: 4.156rem;}
#gnb ul li a{display:block; width:2.5rem; height: 2.5rem; font-size:0; text-indent:-9999px; background-size:60% auto; filter:brightness(0) grayscale(1);}
#gnb ul li a.active{filter:brightness(1) grayscale(0);}

.gnb__item-home a{background:url(../img/common/home.svg) 50% 50% no-repeat;}
.gnb__item-ai a{background:url(../img/common/ai.svg) 50% 50% no-repeat;}
.gnb__item-search a{background:url(../img/common/search.svg) 50% 50% no-repeat;}
.gnb__item-mypage a{background:url(../img/common/mypage.svg) 50% 50% no-repeat;}



/** common ********************************************************************/
/* height */
/* .somediv{height:calc(var(--vh, 1vh) * 100);} */
/* 100이면 100vh */
/* min-height:var(--vh); */

.height-full{min-height:var(--vh);}
.height-full-header{min-height:calc(var(--vh) - 4.375rem)}
.height-full-header-nav{min-height:calc(var(--vh) - 7.375rem)}
.height-full-header-nav-gnb{min-height:calc(var(--vh) - 11.513rem)}
.height-fix-full{height:var(--vh);}
.height-fix-full-header{height:calc(var(--vh) - 4.375rem)}
.height-fix-full-header-nav{height:calc(var(--vh) - 7.375rem)}
.height-fix-full-header-nav-gnb{height:calc(var(--vh) - 11.513rem)}

/* .height-full{min-height:100vh;}
.height-full-header{min-height:calc(100vh - 4.375rem)}
.height-full-header-nav{min-height:calc(100vh - 7.375rem)}
.height-full-header-nav-gnb{min-height:calc(100vh - 11.513rem)}
.height-fix-full{height:100vh;}
.height-fix-full-header{height:calc(100vh - 4.375rem)}
.height-fix-full-header-nav{height:calc(100vh - 7.375rem);}
.height-fix-full-header-nav-gnb{height: 100vh; height: -webkit-fill-available;} */

/* price */
.price-flat{font-size:0.9375rem; font-weight:700; color:#111;}
.price-sale{font-size:0.8125rem; color:#bbb; text-decoration: line-through;}

/* color */
.tred{color:#FC6251;}