@media screen and (max-width: 520px) {
	html{font-size:16px;}
}

@media screen and (max-width: 480px) {
	html{font-size:14px;}
}

@media screen and (max-width: 375px) {
	html{font-size:14px;}
}

@media screen and (max-width: 320px) {
	html{font-size:12px;}
}

@media screen and (max-width: 280px) {
	html{font-size:10px;}
}






@media screen and (max-height: 800px) {
	#page__ai-main{padding-top:6rem;}
}

@media screen and (max-height: 700px) {
	#page__ai-main{padding-top:5rem; background-size:19rem auto; background-position:right -25% bottom 15%;}
	.ai__main-ttl span{font-size:1.2rem;}
}

@media screen and (max-height: 620px) {
	#page__ai-main{padding-top:4rem;}
}