<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico">
	<title>인정식탁</title>

	<link rel="stylesheet" href="./assets/css/reset.css" />
	<link rel="stylesheet" href="./assets/css/common.css" />
	<link rel="stylesheet" href="./assets/css/ai.css" />
	<link rel="stylesheet" href="./assets/css/response.css" />

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
	<script src="./assets/js/layout.js"></script>
</head>
<body>
	<div id="wrap">

		<div id="page__ai-chat" class="height-fix-full-header-nav-gnb">
			<div class="ai__chat-inner">
				<div class="ai__chat-notice">
					<p>AI 가 연결되었습니다.</p>
				</div>

			</div><!-- .ai__chat-inner -->
		</div><!-- #page__ai-chat -->

	</div><!-- #wrap -->
	<script>

		$(()=>{
			printChat(500, step_gender);

			$(document).on("click", ".chat__item-btn button", function(){

				if( $(this).hasClass("btn__reset") ){ return }

				$(document).find(".btn__reset").removeClass("active");

				let active = $(this).parents(".speaker-customer").find(".active").length;	// active length
				let chkNum = $(this).parents(".speaker-customer").data("select");			// check length

				// console.log(active, chkNum)
				
				if( $(this).hasClass("active") ){
					$(this).removeClass("active");
				} else {
					if( active < chkNum ){
						$(this).addClass("active");
					}
				}

				let active2 = $(this).parents(".speaker-customer").find(".active").length;	// active length

				// next step
				if( active2 >= chkNum ){
					if( !$(this).parents(".speaker-customer").hasClass("select-multi") ){
						$(this).parents(".speaker-customer").find("button").prop("disabled", true);
					}
					// $(document).find(".btn__result").prop("disabled", false);
					eval($(this).parents(".speaker-customer").data("fuc"));
				}

				// 입력완료 버튼
				if( active2 >= 1 ){
					$(document).find(".btn__result").prop("disabled", false);
				} else {
					$(document).find(".btn__result").prop("disabled", true);
				}
			})

			// 없음 클릭
			$(document).on("click", ".btn__reset", function(){

				if( $(this).hasClass("active") ){
					console.log('true')
					$(this).removeClass("active");
					$(document).find(".btn__result").prop("disabled", true);
				} else {
					console.log('else');
					$(this).parents(".speaker-customer").find("button").removeClass("active");
					$(this).parents(".speaker-customer").find("button").prop("disabled", false);
					$(this).addClass("active");
					$(document).find(".btn__result").prop("disabled", false);
				}
			})

			// 다시하기 클릭
			$(document).on("click", ".btn__clear", function(){
				let status = confirm("처음부터 다시 시작하시겠습니까?")
				if( !status ){ return }
				window.location.href = './ai.html';
			})

			
		});
		
		
		const chating = `<div class="chat__ing"><div class="chat__ing-group"><span></span><span></span><span></span></div></div>`;

		const step_gender = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">너무 반가워요!</div>
					</div>
					<div class="chat__item">
						<div class="chat__item-bubble">전 남자예요! 당신은요?</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer step_gender" data-select="1" data-fuc="printChat(1000, step_age)">
					<div class="chat__item">
						<div class="chat__item-btn">
							<button type="button" value="여성">여성</button>
							<button type="button" value="남성">남성</button>
						</div>
					</div>
				</div>
			`,
		}

		const step_age = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">여성 분이시군요!</div>
					</div>
					<div class="chat__item">
						<div class="chat__item-bubble">실례지만 나이대는 어떻게 되세요?</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer step_age" data-select="1" data-fuc="printChat(1000, step_tall)">
					<div class="chat__item">
						<div class="chat__item-btn">
							<button type="button" value="10대">10대</button>
							<button type="button" value="20대">20대</button>
							<button type="button" value="30대">30대</button>
							<button type="button" value="40대">40대</button>
							<button type="button" value="50대">50대</button>
							<button type="button" value="60대">60대</button>
							<button type="button" value="60대 이상">60대 이상</button>
						</div>
					</div>
				</div>
			`,
		}

		const step_age2 = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">저랑 같은 남성 이군요!</div>
					</div>
					<div class="chat__item">
						<div class="chat__item-bubble">실례지만 나이대는 어떻게 되세요?</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer step_age" data-select="1" data-fuc="printChat(1000, step_tall)">
					<div class="chat__item">
						<div class="chat__item-btn">
							<button type="button" value="10대">10대</button>
							<button type="button" value="20대">20대</button>
							<button type="button" value="30대">30대</button>
							<button type="button" value="40대">40대</button>
							<button type="button" value="50대">50대</button>
							<button type="button" value="60대">60대</button>
							<button type="button" value="60대 이상">60대 이상</button>
						</div>
					</div>
				</div>
			`,
		}

		const step_tall = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">고객님의 키를 알 수 있을까요?</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer step_tall" data-select="1" data-fuc="printChat(1000, step_weight)">
					<div class="chat__item">
						<div class="chat__item-btn ">
							<button type="button" value="130cm 이하">130cm 이하</button>
							<button type="button" value="130~140cm">130~140cm</button>
							<button type="button" value="140~150cm">140~150cm</button>
							<button type="button" value="150~160cm">150~160cm</button>
							<button type="button" value="160~170cm">160~170cm</button>
							<button type="button" value="170~180cm">170~180cm</button>
							<button type="button" value="180~190cm">180~190cm</button>
							<button type="button" value="190cm 이상">190cm 이상</button>
						</div>
					</div>
				</div>
			`,
		}

		const step_weight = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">몸무게도 알려주세요!</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer step_weight" data-select="1" data-fuc="weightResult()">
					<div class="chat__item">
						<div class="chat__item-btn">
							<button type="button" value="40kg 이하">40kg 이하</button>
							<button type="button" value="40~50kg">40~50kg</button>
							<button type="button" value="50~60kg">50~60kg</button>
							<button type="button" value="60~70kg" value="">60~70kg</button>
							<button type="button" value="70~80kg">70~80kg</button>
							<button type="button" value="80~90kg">80~90kg</button>
							<button type="button" value="90~100kg">90~100kg</button>
							<button type="button" value="100kg 이상">100kg 이상</button>
						</div>
					</div>
				</div>
			`,
		}

		let step_diet = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">오늘은 어떤 음식이 땡기시나요?</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer step_diet" data-select="1" data-fuc="printChat(1000, step_favorit)">
					<div class="chat__item">
						<div class="chat__item-btn">
							<button type="button" value="지중해 식단" class="wfull">바닷소리가 들리는 지중해 식단</button>
							<button type="button" value="이태리 식단" class="wfull">고급 와인과 함께~ 이태리 식단</button>
							<button type="button" value="동유럽 식단" class="wfull">엘레강스 한 동유럽 풍 식단</button>
							<button type="button" value="중국 식단" class="wfull">짜짜라!! 호이호이! 중국 식단</button>
							<button type="button" value="일본 식단" class="wfull">오이시이~ 깔끔한 일본 식단</button>
							<button type="button" value="한국 식단" class="wfull">역시 난 한국인! 한국 식단</button>
						</div>
					</div>
				</div>
			`,
		}

		const step_favorit = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">건강한 식단을 원하세요?</div>
					</div>
					<div class="chat__item">
						<div class="chat__item-bubble">고객님이 선호하는 식단을 선택해주세요!</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer step_favorit" data-select="1" data-fuc="printChat(1000, step_health)">
					<div class="chat__item">
						<div class="chat__item-btn">
							<button type="button" value="체중감량" class="wfull">체중을 감량하고 싶어요!</button>
							<button type="button" value="건강식" class="wfull">인스턴트 말고 건강한 음식이 좋아요!</button>
							<button type="button" value="체력보강" class="wfull">체력보강! 든든한 식단이 좋아요!</button>
							<button type="button" value="집밥" class="wfull">부모님이 해주신 집밥이 먹고 싶어요!</button>
						</div>
					</div>
				</div>
			`,
		}

		const step_health = {
			text : `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">혹시 어디 불편하신가요?</div>
					</div>
					<div class="chat__item">
						<div class="chat__item-bubble">현재 고객님 건강에 문제되는 질환 3가지만 선택해주세요!</div>
					</div>
				</div>
			`,
			answer: `
				<div class="chat__group speaker-customer select-multi step_health" data-select="3" data-fuc="">
					<div class="chat__item">
						<div class="chat__item-btn">
							<button type="button" value="당뇨">당뇨</button>
							<button type="button" value="심혈관">심혈관</button>
							<button type="button" value="간질환">간질환</button>
							<button type="button" value="암 예방">암 예방</button>
							<button type="button" value="골다공증">골다공증</button>
							<button type="button" value="빈혈">빈혈</button>
							<button type="button" value="변비">변비</button>
							<button type="button" value="내졸중">내졸중</button>
							<button type="button" class="btn__reset" value="질환 없음">없음</button>
						</div>
					</div>
				</div>
				<div class="ai__chat-finish">
					<button type="reset" class="btn__clear">다시하기</button>
					<button type="button" onclick="result()" class="btn__result" disabled>입력완료</button>
				</div>
			`,
		}

		const printChat = function(time, data){
			$(document).find(".ai__chat-inner").append(chating);
			
			scrollTop()

			setTimeout(() => {
				$(document).find(".chat__ing").remove();
				$(document).find(".ai__chat-inner").append(data.text);
				$(document).find(".ai__chat-inner").append(data.answer);

				scrollTop()
			}, time);
		}


		// calorie
		const getCalorie = function(){
			let gender = $(document).find(".step_gender .active").val();	// '여성', '남성'
			let age = Number($(document).find(".step_age .active").val().replace(/[^0-9]/gi, ""));			// '30대'
			let tall = Number($(document).find(".step_tall .active").val().split("~")[0].split("cm")[0]);		// '150~160cm'
			let weight = Number($(document).find(".step_weight .active").val().split("~")[0].split("kg")[0]);	// '80~90kg'

			let calorie = 0;

			if(gender == "남자"){
				calorie = 66.47 + (1.75 * weight) + (5 * tall) - (6.76 * age)
			} else { // 여자
				calorie = 655.1 + (9.56 * weight) + (1.85 * tall) - (4.68 * age)
			}
			return calorie.toFixed(0);
		}


		// 칼로리 계산
		const weightResult = function(){

			// const chating = `<div class="chat__ing"><div class="chat__ing-group"><span></span><span></span><span></span></div></div>`;
			$(document).find(".ai__chat-inner").append(chating);

			scrollTop()

			let calorie = getCalorie();
			let text = `
				<div class="chat__group speaker-injung">
					<div class="chat__item">
						<div class="chat__item-bubble">건강 관리가 필요해보여요!!</div>
					</div>
					<div class="chat__item">
						<div class="chat__item-bubble chat__item-calorie">고객님에게 가장 적합한 하루 열량은 <span class="tred">${calorie}</span>칼로리 입니다!</div>
					</div>
				</div>
			`;

			setTimeout(() => {
				$(document).find(".chat__ing").remove();
				$(document).find(".ai__chat-inner").append(text);
				scrollTop()
			}, 1000);

			setTimeout(() => {
				printChat(1000, step_diet);
			}, 1500);
		}
		

		const result = function(){
			console.log('result');

			let activeBtn = Array.from($(document).find(".ai__chat-inner button.active"));

			let result_data = [];
			activeBtn.forEach((item, index)=>{
				result_data.push( $(item).val() );
			})
			localStorage.setItem("my_data", JSON.stringify(result_data));
			window.location.href = "ai-result.html";
		}

		const scrollTop = function(){
			$(".ai__chat-inner").scrollTop(5000000000);
		}
	</script>
</body>
</html>