<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico">
	<title>인정식탁</title>

	<link rel="stylesheet" href="./assets/css/reset.css" />
	<link rel="stylesheet" href="./assets/css/common.css" />
	<link rel="stylesheet" href="./assets/css/index.css" />
	<link rel="stylesheet" href="./assets/css/response.css" />

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
	<script src="./assets/js/layout.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>
	<div id="wrap">

		<div id="page__index">

			<div class="swiper mySlide">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="./assets/img/main/visual1.jpg" alt="slide image" /></div>
					<div class="swiper-slide"><img src="./assets/img/main/visual2.jpg" alt="slide image" /></div>
					<div class="swiper-slide"><img src="./assets/img/main/visual3.jpg" alt="slide image" /></div>
					<div class="swiper-slide"><img src="./assets/img/main/visual4.jpg" alt="slide image" /></div>
					<div class="swiper-slide"><img src="./assets/img/main/visual5.jpg" alt="slide image" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

			<div class="main__product">
				<h3 class="main__product-ttl">지금 제일 잘나가요</h3>
				<div class="swiper myProducts">
					<ul class="main__prd__group swiper-wrapper">
						<li class="main__prd__item swiper-slide">
							<a href="#">
								<div class="main__prd__item-photo"><img src="./assets/img/main/product1.jpg" alt="prd image" /></div>
								<dl class="main__prd__item-info">
									<dt>[갈비의고수] 한돈 칼집 왕갈비 800g 2팩 + 찜갈비 800g 2팩</dt>
									<dd>
										<span class="price price-flat">53,900원</span>
										<span class="price price-sale">71,900원</span>
									</dd>
								</dl>
							</a>
						</li>
						<li class="main__prd__item swiper-slide">
							<a href="#">
								<div class="main__prd__item-photo"><img src="./assets/img/main/product2.jpg" alt="prd image" /></div>
								<dl class="main__prd__item-info">
									<dt>[샛노랑오리]무항생제 오리훈제 슬라이스 선물세트 200g×10봉 (소스포함)</dt>
									<dd>
										<span class="price price-flat">43,900원</span>
										<span class="price price-sale">57,900원</span>
									</dd>
								</dl>
							</a>
						</li>
						<li class="main__prd__item swiper-slide">
							<a href="#">
								<div class="main__prd__item-photo"><img src="./assets/img/main/product3.jpg" alt="prd image" /></div>
								<dl class="main__prd__item-info">
									<dt>[고기장인백정] 무항생제 한돈 목살스테이크 400g x 2</dt>
									<dd>
										<span class="price price-flat">34,900원</span>
										<span class="price price-sale">45,900원</span>
									</dd>
								</dl>
							</a>
						</li>
						<li class="main__prd__item swiper-slide">
							<a href="#">
								<div class="main__prd__item-photo"><img src="./assets/img/main/product4.jpg" alt="prd image" /></div>
								<dl class="main__prd__item-info">
									<dt>[오늘자연] 한돈 돈육 알찬 구이세트 1.6kg (오삼겹2팩+목살2팩)/팩당 400g</dt>
									<dd>
										<span class="price price-flat">58,900원</span>
										<span class="price price-sale">77,900원</span>
									</dd>
								</dl>
							</a>
						</li>
						<li class="main__prd__item swiper-slide">
							<a href="#">
								<div class="main__prd__item-photo"><img src="./assets/img/main/product5.jpg" alt="prd image" /></div>
								<dl class="main__prd__item-info">
									<dt>[선물세트] 이동삼 안동간고등어 3손(6마리) /손당 400g</dt>
									<dd>
										<span class="price price-flat">23,900원</span>
										<span class="price price-sale">31,900원</span>
									</dd>
								</dl>
							</a>
						</li>
					</ul>
					<div class="swiper-pagination"></div>
				</div>
			</div>

		</div><!-- #page__index -->
	</div><!-- #wrap -->
	<script>
		$(()=>{			
			var swiper = new Swiper(".mySlide", {
				loop: true,
				autoplay: {
					delay: 2000,
					disableOnInteraction: false,
				},
				pagination: {
					el: ".mySlide .swiper-pagination",
				},
			});

			var swiper2 = new Swiper(".myProducts", {
				slidesPerView: 2.4,
				centeredSlides: false,
				spaceBetween: 10,
				grabCursor: true,
			});
		});
	</script>
</body>
</html>